
/* InpageTitle */
.InpageTitle{width: 100%;text-align: center;padding-top: 52px;}
.InpageTitle h3{font-size: 30px;color: #333333;font-weight: normal;}
.InpageTitle i{display: block;width: 41px;height: 2px;background: #0f98a5;margin: 16px auto 0;}


/* .InpageSideBarNav 悬浮窗 */
.InpageSideBarNav{width: 140px;padding-top: 41px;background: #013d48;padding-bottom: 14px;position: fixed;;eft: 40px;z-index: 99999;top: 29%;}
.InpageSideBarNav .top{display: block;position: absolute;top: -65px;}
.InpageSideBarNav ul{width: 117px;margin: 0 auto;}
.InpageSideBarNav li{width: 117px;height: 32px;line-height: 32px;text-align: center;font-size: 15px;color: #3c1d08;background: url(../Images/inpagesidebarnavbg01.png) no-repeat center;margin-top: 11px;}
.InpageSideBarNav li:first-child{margin-top: 0;}
.InpageSideBarNav li a{color: #3c1d08;text-decoration: none;display: block;}
.InpageSideBarNav span{display: block;margin: 16px auto 0;width: 26px;height: 27px;cursor: pointer;}
.gnmdd{ height: 370px; position:relative; overflow:hidden;border-top: 1px solid #fff;}


/******************************************************/
/*hgss*/


.hgssBanner{width: 100%;height: 775px;}

.hgss {background: url(../Images/hgss_xfc.png) no-repeat center;height: 314px;padding-top: 95px;}
.hgss li {background: url(../Images/hgssan.png) no-repeat center;}


/* gyscProject 项目介绍*/
.gyscProject{width: 100%;background: url(../Images/gyscprojectbg.jpg) no-repeat center;height: 861px;}
.gyscProject .mainCon{width: 100%;margin-top: 52px;}
.gyscProject .mainCon dl{width: 100%;height: 410px;background: #f6f6f6;}
.gyscProject .mainCon dt{width: 600px;float: left;overflow: hidden;/* transition: all 3s ease-out;transform: scale(1.2) */ height: 410px;}
.gyscProject .mainCon dt img{display: block;}
.gyscProject .mainCon dd{float: left;width: 530px;margin-left: 42px;padding-top: 48px;}
.gyscProject .mainCon dd h3{font-size: 20px;color: #333333;margin-bottom: 42px;}
.gyscProject .mainCon dd p{font-size: 14px;color: #666666;line-height: 26px;}
.gyscProject .mainCon ul{width: 100%;margin-top: 36px;}
.gyscProject .mainCon li{float: left;width: 288px;height: 199px;position: relative;overflow: hidden;margin-left: 16px;}
.gyscProject .mainCon li img{display: block;transition: all 2s ease-out;transform: scale(1);}
.gyscProject .mainCon li:hover img{transform: scale(1.2);}
.gyscProject .mainCon li:first-child{margin-left: 0;}
.gyscProject .mainCon li p{height: 40px;line-height: 40px;text-align: center;font-size: 14px;color: #fff;position: absolute;width: 100%;bottom: 0;left: 0;background: url(../Images/tywappreciatebg02.png);}


.tankuang { overflow:hidden; width:100%; height:100%; position:fixed; left:0; top:0; z-index:99999999999; display:none}
.tankuang .bg{ display:block; width:100%; height:100%; background-color:#000; opacity:0.8; filter:alpha(opacity=80); position:absolute; left:0; top:0; z-index:0}
.tankuang .close{ display:block; position:absolute; right:10px; top:10px; background:url(../Images/in_ry_tk_close.png) no-repeat center; width:30px; height:30px; cursor:pointer}
.tankuang span{ display:block; width:28px; height:49px; cursor:pointer; position:absolute; top:36%; z-index:5; background-color:#000; color:#fff; font-weight:bold; text-align:center; line-height:49px; font-size:25px;}
.tankuang .btn01{ left:20px;}
.tankuang .btn02{ right:20px;}
.tankuang .imgShow { overflow:hidden; width:100%; height:60%; position:absolute; left:0; top:15%;moz-user-select: -moz-none;
-moz-user-select: none;
-o-user-select:none;
-khtml-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
user-select:none;}
.tankuang .imgShow ul{ overflow:hidden; position:absolute; height:100%;}
.tankuang .imgShow li{ float:left; text-align:center; height:100%;}
.tankuang .imgShow li img{ display:block; margin:0 auto; height:90%;}
.tankuang .imgShow li p{ font-size:18px; color:#fff; text-align:center;}
.tankuang .imgBox{ overflow:hidden; width:100%; height:80px; position:absolute; left:0; bottom:5%}
.tankuang .imgBox ul{ overflow:hidden; position:absolute; height:100%; padding-right:5px;}
.tankuang .imgBox li{ float:left; height:100%; padding:0 5px; cursor:pointer}
.tankuang .imgBox li img{ display:block; height:70px; padding:5px; background-color:#fff;moz-user-select: -moz-none;
-moz-user-select: none;
-o-user-select:none;
-khtml-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
user-select:none;}
.tankuang .imgBox li em{ display:none}
.tankuang .imgBox li.cur img{ background:#ff0000 }



/**/
.qyys {height: 2138px;background: url(../Images/hgssbg01.jpg) no-repeat center top;padding-top: 130px;}
.qyys h3.qyys_h3 {font-size: 46px;color: #fff;text-align: center;font-weight: normal;}
.qyys p.h3_p {font-size: 22px;text-align: center;color: #fff;}
.qyys .qyys_type {margin-top: 40px;text-align: center;}
.qyys .qyys_type li {display: inline-block;*display: inline;*zoom: 1;vertical-align: middle;width: 158px;height: 158px;margin-right: 75px;}
.qyys .qyys_type li a {display: block;padding-top: 118px;font-size: 14px;}
.qyys .qyys_type li.li1 {background: url(../Images/qyys01.png) no-repeat center;}
.qyys .qyys_type li.li2 {background: url(../Images/qyys02.png) no-repeat center;}
.qyys .qyys_type li.li3 {background: url(../Images/qyys03.png) no-repeat center;}
.qyys .qyys_type li a {color: #022a72;}

.qyys .qyys_con {margin-top: 50px;}
.qyys .qyys_con .conbox {height: 441px;position: relative;margin-bottom: 115px;}
.qyys .qyys_con .conbox img {display: block;}
.qyys .qyys_con .conbox dl {width: 475px;height: 220px;position: absolute;right: 40px;bottom: -64px;background: #fff;padding: 35px 20px 0 30px;}
.qyys .qyys_con .conbox dl dd {font-size: 14px;height: 24px;line-height: 24px;margin-bottom: 10px;padding-left: 10px;background: url(../Images/dian01.png) no-repeat left center;}
.qyys .qyys_con .conbox dl dt {height: 64px;position: absolute;left: 0;bottom: 0;background: url(../Images/hgssbg02.jpg) no-repeat center;line-height: 64px;text-align: center;font-size: 25px;font-weight: bold;color: #011d50;width: 100%;}
.qyys .qyys_con .conbox dl dd b {color: #d03a3b;}

.qyys .qyys_con #qyysbox2 dl {left: 40px;}


/**/
.hgssal {padding: 50px 0;}
.hgssal h3 {font-size: 30px;color: #333;text-align: center;font-weight: normal;}
.hgssal h3 span {display: block;width: 40px;height: 2px;background: #08297b;margin: 15px auto;}
.hgssal .hgssal_con {margin-top: 80px;}
.hgssal .hgssal_con dl {width: 378px;border: 1px solid #eaeaea;padding-bottom: 40px;float: left;margin: 0 0 30px 30px;transition: all 1s;}
.hgssal .hgssal_con dl.bdnot {margin-left: 0;}
.hgssal .hgssal_con dl dt {height: 289px;position: relative;width: 380px;margin: -1px 0 0 -1px;}
.hgssal .hgssal_con dl dt i {display: block;height: 289px;overflow: hidden;}
.hgssal .hgssal_con dl dt img {display: block;transition: all 1s;}
.hgssal .hgssal_con dl dt p {height: 42px;line-height: 42px;text-indent:12px;font-size: 18px;font-weight: bold;color: #fff;position: absolute;left: 0;bottom: 0;width: 100%;background: url(../Images/gyscprojectbg02.png);}
.hgssal .hgssal_con dl dd.dd1 {height: 54px;line-height: 54px;font-size: 16px;text-indent: 15px;}
.hgssal .hgssal_con dl dd.dd1 a {color: #333;}
.hgssal .hgssal_con dl dd.dd2 {font-size: 14px;line-height: 20px;padding: 0 15px;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.hgssal .hgssal_con dl dd.dd2 a {color: #888;}

.hgssal .hgssal_con dl:hover {box-shadow: 5px 5px 15px #999;}
.hgssal .hgssal_con dl:hover dt img {transform: scale(1.1);}



/* gyscAppreciate */
.qyyshxjs {background: url(../Images/hgssqyjs01.jpg) no-repeat center;width: 100%;}
.gyscAppreciate {height: 823px;width: 100%;}
.gyscAppreciate .InpageTitle h3{color: #fff;}
.gyscAppreciate .mainCon{width: 100%;margin-top: 40px;}
.gyscAppreciate .mainCon .conBox{width: 100%;height: 506px;overflow: hidden;position: relative;}
.gyscAppreciate .mainCon .conBox dl{width: 100%;height: 506px;background: #fff;}
.gyscAppreciate .mainCon .conBox dt{float: left;width: 583px;height: 443px;margin-left: 60px;margin-top: 40px;}
.gyscAppreciate .mainCon .conBox dd{width: 279px;padding-left: 70px;border-left: 1px solid #eeeeee;float: right;margin-right: 83px;margin-top: 90px;}
.gyscAppreciate .mainCon .conBox dd h3{font-size: 30px;color: #013d48;font-weight: normal;padding-top: 14px;}
.gyscAppreciate .mainCon .conBox dd p{font-size: 18px;color: #666666;margin-top: 4px;}
.gyscAppreciate .mainCon .conBox dd i{display: block;width: 100%;border-top: 1px dotted #dbdedf;margin-top: 40px;}
.gyscAppreciate .mainCon .conBox dd ul{padding-top: 44px;}
.gyscAppreciate .mainCon .conBox dd li{padding-left: 14px;color: #666666;font-size: 14px;margin-bottom: 14px;background: url(../Images/gyscappreciate_icon01.png) no-repeat left 8px;}
.gyscAppreciate .mainCon .menu{width: 100%;height: 89px;}
.gyscAppreciate .mainCon .menu li{float: left;width: 399px;background: url(../Images/gyscappreciatebg02.png) repeat-x;text-align: center;padding-top: 18px;height: 71px;border-left: 1px solid #8caeac;}
.gyscAppreciate .mainCon .menu li h3{font-size: 20px;color: #fff;font-weight: normal;}
.gyscAppreciate .mainCon .menu li p{color: #fff;margin-top: 5px;font-size: 15px;}
.gyscAppreciate .mainCon .menu li.cur{background: #001b62;}
.gyscAppreciate .mainCon .menu li.cur h3,.gyscAppreciate .mainCon .menu li.cur p{color: #fbcf9b;}

/* hgsstd  湖光山色团购报名*/
.hgsstd {width: 100%;padding-bottom: 65px;background: #f6f6f6;}
.hgsstd .mainCon{width: 100%;margin-top: 40px;}
.hgsstd .mainCon .box1{padding: 38px 42px 0 50px;background: #001b62;height: 398px;}
.hgsstd .mainCon .box1 .boxL{width: 697px;float: left;}
.hgsstd .mainCon .box1 .boxL h3{font-size: 26px;color: #fbcf9b;margin-bottom: 20px;}
.hgsstd .mainCon .box1 .boxL .con{width: 667px;height: 335px;border-radius: 4px;overflow: hidden;}
.hgsstd .mainCon .box1 .boxL .con .Input1{overflow: hidden;margin-bottom: 26px;}
.hgsstd .mainCon .box1 .boxL .con .Input1 span{display: block;float: left;padding-left: 34px;background: url(../Images/gyscly_icon01.png) no-repeat left center;line-height: 27px;font-size: 16px;color: #333333;margin-right: 18px;}
.hgsstd .mainCon .box1 .boxL .con .Input1 .Radio{float: left;margin-top: 4px;}
.hgsstd .mainCon .box1 .boxL .con .Input1 .Radio label{font-size: 15px;color: #666666;margin-right: 50px;overflow: hidden;cursor: pointer;}
.hgsstd .mainCon .box1 .boxL .con .Input1 .Radio em{display: inline-block;;width: 16px;height: 16px;background: url(../Images/gyscly_icon04.png) no-repeat  center;margin-right: 8px;position: relative;top: 2px;}
.hgsstd .mainCon .box1 .boxL .con .Input1 input{opacity: 0;cursor: pointer;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);}
.hgsstd .mainCon .box1 .boxL .con .Input1 label.checked em{background: url(../Images/gyscly_icon05.png) no-repeat  center;}
.hgsstd .mainCon .box1 .boxL .con .Input{overflow: hidden;margin-bottom: 17px;}
.hgsstd .mainCon .box1 .boxL .con .Input span{display: block;float: left;padding-left: 34px;line-height: 27px;font-size: 16px;color: #333333;margin-right: 18px;margin-top: 6px;}
.hgsstd .mainCon .box1 .boxL .con .Input2 span{background: url(../Images/gyscly_icon02.png) no-repeat left center;}
.hgsstd .mainCon .box1 .boxL .con .Input3 span{background: url(../Images/gyscly_icon03.png) no-repeat left center;}
.hgsstd .mainCon .box1 .boxL .con .Input input{width: 348px;float: left;height: 41px;border: none;border: 1px solid #eeeeee;outline: none;font-size: 14px;color: #333333;padding: 0 10px;}
.hgsstd .mainCon .box1 .boxL .con a{display: block;width: 173px;height: 44px;margin-left: 94px;margin-top: 25px;}
.hgsstd .mainCon .box1 .boxR{float: right;width: 340px;}
.hgsstd .mainCon .box1 .boxR h3{font-size: 26px;color: #fbcf9b;margin-bottom: 20px;font-weight: normal;}
.hgsstd .mainCon .box1 .boxR ul{border-top: 1px solid #fbcf9b;padding-top: 17px;  position:absolute;}
.hgsstd .mainCon .box1 .boxR li{height: 65px;padding-top: 22px;border-top: 1px dotted #3e6b74;}
.hgsstd .mainCon .box1 .boxR li dt{width: 100px;float: left;font-size: 14px;color: #fff;line-height: 26px;}
.hgsstd .mainCon .box1 .boxR li dd{float: left;width: 230px;}
.hgsstd .mainCon .box1 .boxR li dd p{font-size: 14px;color: #fff;line-height: 26px;}
.hgsstd .mainCon .box1 .boxR li:first-child{border-top: none;}
.hgsstd .mainCon .box2{width: 100%;margin-top: 66px;}
.hgsstd .mainCon .box2 li{width: 399px;float: left;text-align: center;}
.hgsstd .mainCon .box2 li h3{font-size: 24px;color: #333;font-weight: normal;margin: 30px 0 20px 0;}
.hgsstd .mainCon .box2 li img{display: block;margin: 0 auto;}
.hgsstd .mainCon .box2 li p{font-size: 14px;color: #666666;line-height: 24px;padding: 0 64px;}


/* gyscPictures */
.gyscPictures{width: 100%;padding-bottom: 72px;}
.gyscPictures .mainCon{width: 100%;margin-top: 40px;position: relative;height: 537px;}
.gyscPictures .mainCon i{display: block;width: 55px;height: 55px;position: absolute;right: 0;overflow: hidden;cursor: pointer;z-index: 99;background: url(../Images/gyscappreciatebg02.png)}
.gyscPictures .mainCon i.prev{bottom: 113px;}
.gyscPictures .mainCon i.next{bottom: 0;}
.gyscPictures .mainCon i img{display: block;position: relative;top: 15px;margin: 0 auto;}
.gyscPictures .mainCon i:hover {background: #001b62;}
.gyscPictures .mainCon .Number{position: absolute;width: 55px;height: 55px;background: url(../Images/gyscpicturesbg.png) no-repeat center;right: 0;bottom: 57px;z-index: 99;text-align: center;line-height: 55px;font-size: 18px;color: #fff;font-family: arial;}
.gyscPictures .mainCon .Number span{font-size: 18px;color: #fff;font-family: arial;}
.gyscPictures .mainCon .conBox{width: 100%;height: 537px;overflow: hidden;position: relative;}
.gyscPictures .mainCon .conBox ul{position: absolute;left: 0;top: 0;}
.gyscPictures .mainCon .conBox li{float: left;width: 1200px;height: 537px;}
.gyscPictures .mainCon .conBox li img{display: block;}



/******************************************************/
/* shc */

.shc {background: url(../Images/shc_xfc.png) no-repeat center;height: 314px;padding-top: 95px;}
.shc h3 {font-size: 28px;color: #fff;text-align: center;position: absolute;top: 45px;width: 100%;}
.shc li {background: url(../Images/hgssan.png) no-repeat center;}


.shcBanner{width: 100%;height: 650px;}

.shc_top {background: url(../Images/shcbg01.jpg);padding-bottom: 105px;}
.shc_top .shcpro {background: none;}
.shc_top .shcqyys {background: none;}
.shc_top .InpageTitle i{background: #a30001;}

.shcqyys .shcqyys_top {height: 180px;background: #ac0401;text-align: center;color: #fff;font-family: "[CTBiaoSongSJ]","宋体";border-bottom: 3px solid #d9ba73;}
.shcqyys .shcqyys_top h3 {font-size: 46px;padding-top: 40px;}
.shcqyys .shcqyys_top p {height:  40px;line-height: 40px;font-size: 22px;}

.shcqyys .shcqyys_con dl {height: 319px;position: relative;background: #fff;}
.shcqyys .shcqyys_con dl dt {width: 600px;height: 449px;overflow: hidden;position: absolute;top: 0;}
.shcqyys .shcqyys_con dl dt img {display: block;transition: all 1s;}
.shcqyys .shcqyys_con dl dd.dd1 {font-size: 30px;line-height: 40px;font-family: "[CTBiaoSongSJ]","宋体";color: #ac0401;font-weight: bold;}
.shcqyys .shcqyys_con dl dd.dd2 {font-size: 14px;line-height: 24px;margin-top: 30px;}

.shcqyys .shcqyys_con dl.dll {padding:130px 50px 0 680px;}
.shcqyys .shcqyys_con dl.dll dt {left: 0;}

.shcqyys .shcqyys_con dl.dlr {padding:130px 680px 0 50px;}
.shcqyys .shcqyys_con dl.dlr dt {right: 0;}

/**/
.shckf {background: #ac0401;position: relative;padding-bottom: 60px;}
.shckf .InpageTitle h3 {color: #fff;}
.shckf .InpageTitle i {background: #fff;}

.shckf .shckf_con {padding: 60px 50px;background: #fff; margin-top: 19px;}
.shckf .shckf_con ul li {float: left;width: 360px;height: 256px;margin-left: 10px;}
.shckf .shckf_con ul li:first-child {margin-left: 0;}

.shckf .shckf_con h4 {font-size: 24px;color: #333;margin: 35px 0 20px 0;font-weight: normal;}
.shckf .shckf_con .shckf_p1 {font-size: 14px;line-height: 24px;color: #888;padding-bottom: 30px;border-bottom: 1px dashed #eaeaea;}
.shckf .shckf_con .conbox {margin-top: 30px;}
.shckf .shckf_con dl.dl1 {height: 276px;position: relative;background: #fff;padding:30px 80px 30px 575px;border-bottom: 1px dashed #eaeaea;}
.shckf .shckf_con dl.dl1 dt {width: 519px;height: 276px;overflow: hidden;position: absolute;top: 30px;left: 0;}
.shckf .shckf_con dl.dl1 dt img {display: block;transition: all 1s;}
.shckf .shckf_con dl.dl1 dd.dd1 {font-size: 24px;font-family: "[CTBiaoSongSJ]","宋体";color: #333;font-weight: bold;padding-top: 80px;}
.shckf .shckf_con dl.dl1 dd.dd2 {font-size: 14px;line-height: 24px;margin-top: 30px;color: #888;}

.shckf .shckf_con dl.dl2 {height: 276px;position: relative;background: #fff;padding:30px 575px 30px 80px;border-bottom: 1px dashed #eaeaea;text-align: right;}
.shckf .shckf_con dl.dl2 dt {width: 519px;height: 276px;overflow: hidden;position: absolute;top: 30px;right: 0;}
.shckf .shckf_con dl.dl2 dt img {display: block;transition: all 1s;}
.shckf .shckf_con dl.dl2 dd.dd1 {font-size: 24px;font-family: "[CTBiaoSongSJ]","宋体";color: #333;font-weight: bold;padding-top: 80px;}
.shckf .shckf_con dl.dl2 dd.dd2 {font-size: 14px;line-height: 24px;margin-top: 30px;color: #888;}

.shckf .shckf_con dl.dl3 {position: relative;background: #fff;width: 519px;padding: 30px 0;float: left;}
.shckf .shckf_con dl.dl3 dt {width: 519px;height: 276px;overflow: hidden;}
.shckf .shckf_con dl.dl3 dt img {display: block;transition: all 1s;}
.shckf .shckf_con dl.dl3 dd.dd1 {font-size: 24px;font-family: "[CTBiaoSongSJ]","宋体";color: #333;font-weight: bold;padding-top: 20px;}
.shckf .shckf_con dl.dl3 dd.dd2 {font-size: 14px;line-height: 24px;margin-top: 30px;color: #888;}

.shckf .shckf_con dl.dl4 {position: relative;background: #fff;width: 519px;padding: 30px 0;float: right;}
.shckf .shckf_con dl.dl4 dt {width: 519px;height: 276px;overflow: hidden;}
.shckf .shckf_con dl.dl4 dt img {display: block;transition: all 1s;}
.shckf .shckf_con dl.dl4 dd.dd1 {font-size: 24px;font-family: "[CTBiaoSongSJ]","宋体";color: #333;font-weight: bold;padding-top: 20px;}
.shckf .shckf_con dl.dl4 dd.dd2 {font-size: 14px;line-height: 24px;margin-top: 30px;color: #888;}


/**/
.shchxjs {background: url(../Images/shcqyjs01.jpg) no-repeat center;}
.shchxjs .InpageTitle h3 {color: #333;}
.shchxjs .InpageTitle  i {background: #ac0401;}
.shchxjs .mainCon .menu li.cur{background: #ac0401;}

/* .shctd  山河城团购报名*/
.shctd {width: 100%;padding-bottom: 65px;background: #f6f6f6;}
.shctd .InpageTitle i {background: #ac0401;}
.shctd .mainCon{width: 100%;margin-top: 40px;}
.shctd .mainCon .box1{padding: 38px 42px 0 50px;background: #ac0401;height: 398px;}
.shctd .mainCon .box1 .boxL{width: 697px;float: left;}
.shctd .mainCon .box1 .boxL h3{font-size: 26px;color: #fbcf9b;margin-bottom: 20px;}
.shctd .mainCon .box1 .boxL .con{width: 667px;height: 335px;border-radius: 4px;overflow: hidden;}
.shctd .mainCon .box1 .boxL .con .Input1{overflow: hidden;margin-bottom: 26px;}
.shctd .mainCon .box1 .boxL .con .Input1 span{display: block;float: left;padding-left: 34px;background: url(../Images/gyscly_icon01.png) no-repeat left center;line-height: 27px;font-size: 16px;color: #333333;margin-right: 18px;}
.shctd .mainCon .box1 .boxL .con .Input1 .Radio{float: left;margin-top: 4px;}
.shctd .mainCon .box1 .boxL .con .Input1 .Radio label{font-size: 15px;color: #666666;margin-right: 50px;overflow: hidden;cursor: pointer;}
.shctd .mainCon .box1 .boxL .con .Input1 .Radio em{display: inline-block;;width: 16px;height: 16px;background: url(../Images/gyscly_icon04.png) no-repeat  center;margin-right: 8px;position: relative;top: 2px;}
.shctd .mainCon .box1 .boxL .con .Input1 input{opacity: 0;cursor: pointer;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);}
.shctd .mainCon .box1 .boxL .con .Input1 label.checked em{background: url(../Images/gyscly_icon05.png) no-repeat  center;}
.shctd .mainCon .box1 .boxL .con .Input{overflow: hidden;margin-bottom: 17px;}
.shctd .mainCon .box1 .boxL .con .Input span{display: block;float: left;padding-left: 34px;line-height: 27px;font-size: 16px;color: #333333;margin-right: 18px;margin-top: 6px;}
.shctd .mainCon .box1 .boxL .con .Input2 span{background: url(../Images/gyscly_icon02.png) no-repeat left center;}
.shctd .mainCon .box1 .boxL .con .Input3 span{background: url(../Images/gyscly_icon03.png) no-repeat left center;}
.shctd .mainCon .box1 .boxL .con .Input input{width: 348px;float: left;height: 41px;border: none;border: 1px solid #eeeeee;outline: none;font-size: 14px;color: #333333;padding: 0 10px;}
.shctd .mainCon .box1 .boxL .con a{display: block;width: 173px;height: 44px;margin-left: 94px;margin-top: 25px;}
.shctd .mainCon .box1 .boxR{float: right;width: 340px;}
.shctd .mainCon .box1 .boxR h3{font-size: 26px;color: #fbcf9b;margin-bottom: 20px;font-weight: normal;}
.shctd .mainCon .box1 .boxR ul{border-top: 1px solid #fbcf9b;padding-top: 17px; position:absolute;}
.shctd .mainCon .box1 .boxR li{height: 65px;padding-top: 22px;border-top: 1px dotted #3e6b74;}
.shctd .mainCon .box1 .boxR li dt{width: 100px;float: left;font-size: 14px;color: #fff;line-height: 26px;}
.shctd .mainCon .box1 .boxR li dd{float: left;width: 230px;}
.shctd .mainCon .box1 .boxR li dd p{font-size: 14px;color: #fff;line-height: 26px;}
.shctd .mainCon .box1 .boxR li:first-child{border-top: none;}
.shctd .mainCon .box2{width: 100%;margin-top: 66px;}
.shctd .mainCon .box2 li{width: 399px;float: left;text-align: center;}
.shctd .mainCon .box2 li h3{font-size: 24px;color: #333;font-weight: normal;margin: 30px 0 20px 0;}
.shctd .mainCon .box2 li img{display: block;margin: 0 auto;}
.shctd .mainCon .box2 li p{font-size: 14px;color: #666666;line-height: 24px;padding: 0 64px;}

/* gyscPictures */
.gyscPictures{width: 100%;padding-bottom: 72px;}
.gyscPictures .mainCon{width: 100%;margin-top: 40px;position: relative;height: 537px;}
.gyscPictures .mainCon i{display: block;width: 55px;height: 55px;position: absolute;right: 0;overflow: hidden;cursor: pointer;z-index: 99;background: url(../Images/gyscappreciatebg02.png)}
.gyscPictures .mainCon i.prev{bottom: 113px;}
.gyscPictures .mainCon i.next{bottom: 0;}
.gyscPictures .mainCon i img{display: block;position: relative;top: 15px;margin: 0 auto;z-index: 2;}
.shcshjs .mainCon i:hover {background: #a90c02;}
.gyscPictures .mainCon .Number{position: absolute;width: 55px;height: 55px;background: url(../Images/gyscpicturesbg.png) no-repeat center;right: 0;bottom: 57px;z-index: 99;text-align: center;line-height: 55px;font-size: 18px;color: #fff;font-family: arial;}
.gyscPictures .mainCon .Number span{font-size: 18px;color: #fff;font-family: arial;}
.gyscPictures .mainCon .conBox{width: 100%;height: 537px;overflow: hidden;position: relative;}
.gyscPictures .mainCon .conBox ul{position: absolute;left: 0;top: 0;}
.gyscPictures .mainCon .conBox li{float: left;width: 1200px;height: 537px;}
.gyscPictures .mainCon .conBox li img{display: block;}

.shcshjs .InpageTitle i {background: #a90c02;}


.width_big{ width:239px!important;}




/* -- å¼¹å‡ºçª—å£ -- */
#mesbook1_c, #mesbook1{display:none;z-index:1001;width:720px;border:1px solid #ccc;background:#fff; height:357px;margin-top:-178px !important;}
#mesbook1_c div, #mesbook1 div{border: 1px solid #e6e6e6;height: 71px;padding:4px .5em 0;margin-bottom:10px;}
#mesbook1 #mesbook1Title{float: left;font-size: 16px;color: #9b9b9b;margin: 29px 0 0 39px}
#mesbook1 #mesbook1ImgClose{display: block;width: 27px;height: 27px;float: right;margin: 22px 32px 0 0;cursor: pointer;}
#mesbook1_c dl.b1, #mesbook1 dl.b1{width: 100%;margin-top: 50px;}
#mesbook1_c dl.b1 dt, #mesbook1 dl.b1 dt{float: left;width: 127px;height: 127px;margin-left: 83px;}
#mesbook1_c dl.b1 dd, #mesbook1 dl.b1 dd { width:420px; float:right;}
#mesbook1_c #mesbook1_cBtns, #mesbook1 #mesbook1Btns{padding-bottom:10px;}
#mesbook1_c #mesbook1_cBtns input, #mesbook1 #mesbook1Btns input {margin-right:20px;}
#mesbook1 #mesbook1Msg p{font-size: 20px;color: #000000;margin-top: 4px;}
#mesbook1 #mesbook1Msg {font-size: 20px;color: #000000;margin-top: 4px;}
#mesbook1 #mesbook1Msg h3{font-size: 24px;color: #a41018;}
#mesbook1 .b15{display: block;width: 104px;height: 49px;line-height: 49px;text-align: center;font-size: 16px;color: #fff;background: #1a2b3c;cursor: pointer;}

/*å¤„ç†ä¸­åŠ¨ç”»å å…¨å±*/
#oran_div_processing{width:300px;padding:20px;z-index:9999;text-align:center;background:#fffeef;border:solid 1px #b8ab04;}




/*******************************/
/*ryxg*/
.ryxg_top .ryxgBanner {height: 703px;}
.ryxg_top .ryxgpro {background: url(../Images/ryxgbg01.jpg) no-repeat center top;padding-top: 110px;height: 745px;}
.ryxg_top .ryxgqyys {height: 1891px;background: url(../Images/ryxgqyysbg.jpg) no-repeat center top;}
.ryxg_top .ryxgqyys .container {position: relative;height: 1771px;padding-top: 120px;position: relative;}
.ryxg_top .ryxgqyys h3 img {display: block;margin: 0 auto;}
.ryxg_top .ryxgqyys_p1 {font-size: 24px;color: #333;text-align: center;margin-top: 15px;}
.ryxg_top .ryxgqyys_con dl {width: 480px;position: absolute;}
.ryxg_top .ryxgqyys_con dl dt {margin-bottom: 40px;}
.ryxg_top .ryxgqyys_con dl dt img {display: block;}
.ryxg_top .ryxgqyys_con dl dd {font-size: 14px;color: #555555;line-height: 30px;}

.ryxg_top .ryxgqyys_con dl.dl1 {left: 700px;top: 380px;}
.ryxg_top .ryxgqyys_con dl.dl2 {left: 0;top: 915px;}
.ryxg_top .ryxgqyys_con dl.dl2 dd {padding-left: 15px;background: url(../Images/ty01.png) no-repeat left 12px;}
.ryxg_top .ryxgqyys_con dl.dl3 {left: 700px;top: 1390px;}

.ryxgpz {height: 812px;padding-top: 150px;background: url(../Images/ryxgpzbg.jpg) no-repeat center top;}
.ryxgpz .ryxg_p1 {font-size: 26px;color: #fff;text-align: center;}
.ryxgpz .ryxgpz_con {padding: 0 70px;position: relative;height: 597px;overflow: hidden; margin-top:35px; }
.ryxgpz .ryxgpz_con .conbox {position: relative;height: 597px;}
.ryxgpz .ryxgpz_con img {display: block ;}
.ryxgpz .ryxgpz_con .ryxgpz_left {width: 804px;position: relative;height: 597px;overflow: hidden;float: left;}
.ryxgpz .ryxgpz_con .ryxgpz_left ul {position: relative;}
.ryxgpz .ryxgpz_con .ryxgpz_left ul li {height: 597px;background: #fff;}
.ryxgpz .ryxgpz_left dl dt {width: 804px;height: 451px;position: relative;}
.ryxgpz .ryxgpz_left dl dt p {height: 44px;line-height: 44px;text-align: center;font-size: 18px;color: #fff;font-weight: bold;position: absolute;left: 0;bottom: 0;width: 100%;background: url(../Images/gyscappreciatebg02.png);}

.ryxgpz .ryxgpz_left dl dd.dd1 {font-size: 18px;text-align: center;margin: 25px 0 15px 0;}
.ryxgpz .ryxgpz_left dl dd.dd1 a {color: #333;}
.ryxgpz .ryxgpz_left dl dd.dd2 {font-size: 14px;line-height: 24px;padding: 0 40px;}
.ryxgpz .ryxgpz_left dl dd.dd2 a {color: #888;}

.ryxgpz .ryxgpz_right {width: 256px;float: right;}
.ryxgpz .ryxgpz_right ul {position: relative;}
.ryxgpz .ryxgpz_right ul li {background: #000;margin-top: -2px;position: relative;z-index: 1;border: 2px solid #333;}
.ryxgpz .ryxgpz_right ul li img {opacity: 0.7;  width: 252px;
    height: 117px;}
.ryxgpz .ryxgpz_right ul li:first-child {margin-top: 0;}

.ryxgpz .ryxgpz_right ul li.cur {z-index: 2;border-color: #fff;}
.ryxgpz .ryxgpz_right ul li.cur img {opacity: 1;  }

.ryxgpz .ryxgpz_con .ryxgpz_btnl {width: 70px;position: absolute;left: 0;top: 70px;height: 450px;background: url(../Images/gyscappreciatebg02.png);text-align: center;}
.ryxgpz .ryxgpz_con .btn p {height: 280px;padding: 0 25px;font-size: 16px;color: #fff;padding-top: 100px;}
.ryxgpz .ryxgpz_con .btn span {display: block;width: 70px;height: 70px;background: #484e5e;overflow: hidden; cursor: pointer;}
.ryxgpz .ryxgpz_con .btn img {display: block;margin: 20px auto;}
.ryxgpz .ryxgpz_con .ryxgpz_btnr {width: 70px;position: absolute;right: 0;top: 70px;height: 450px;background: url(../Images/gyscappreciatebg02.png);text-align: center;}

.ryxgpz .ryxgpz_con .btn:hover span {background: #4c172e;}

.ryxghxjs {background: url(../Images/ryxgqyjs01.jpg) no-repeat center;height: 699px;padding-top: 110px;}
.ryxghxjs .mainCon .menu li.cur{background: #0b1f67;}


/* .shctd  山河城团购报名*/
.ryxgtd {width: 100%;padding-bottom: 65px;background: #f6f6f6;}
.ryxgtd .InpageTitle i {background: #ac0401;}
.ryxgtd .mainCon{width: 100%;margin-top: 40px;}
.ryxgtd .mainCon .box1{padding: 38px 42px 0 50px;background: #0b1f67;height: 398px;}
.ryxgtd .mainCon .box1 .boxL{width: 697px;float: left;}
.ryxgtd .mainCon .box1 .boxL h3{font-size: 26px;color: #fff;margin-bottom: 20px;}
.ryxgtd .mainCon .box1 .boxL .con{width: 667px;height: 335px;border-radius: 4px;overflow: hidden;}
.ryxgtd .mainCon .box1 .boxL .con .Input1{overflow: hidden;margin-bottom: 26px;}
.ryxgtd .mainCon .box1 .boxL .con .Input1 span{display: block;float: left;padding-left: 34px;background: url(../Images/gyscly_icon01.png) no-repeat left center;line-height: 27px;font-size: 16px;color: #333333;margin-right: 18px;}
.ryxgtdtd .mainCon .box1 .boxL .con .Input1 .Radio{float: left;margin-top: 4px;}
.ryxgtd .mainCon .box1 .boxL .con .Input1 .Radio label{font-size: 15px;color: #666666;margin-right: 50px;overflow: hidden;cursor: pointer;}
.ryxgtd .mainCon .box1 .boxL .con .Input1 .Radio em{display: inline-block;;width: 16px;height: 16px;background: url(../Images/gyscly_icon04.png) no-repeat  center;margin-right: 8px;position: relative;top: 2px;}
.ryxgtd .mainCon .box1 .boxL .con .Input1 input{opacity: 0;cursor: pointer;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);}
.ryxgtd .mainCon .box1 .boxL .con .Input1 label.checked em{background: url(../Images/gyscly_icon05.png) no-repeat  center;}
.ryxgtd .mainCon .box1 .boxL .con .Input{overflow: hidden;margin-bottom: 17px;}
.ryxgtd .mainCon .box1 .boxL .con .Input span{display: block;float: left;padding-left: 34px;line-height: 27px;font-size: 16px;color: #333333;margin-right: 18px;margin-top: 6px;}
.ryxgtd .mainCon .box1 .boxL .con .Input2 span{background: url(../Images/gyscly_icon02.png) no-repeat left center;}
.ryxgtd .mainCon .box1 .boxL .con .Input3 span{background: url(../Images/gyscly_icon03.png) no-repeat left center;}
.ryxgtd .mainCon .box1 .boxL .con .Input input{width: 348px;float: left;height: 41px;border: none;border: 1px solid #eeeeee;outline: none;font-size: 14px;color: #333333;padding: 0 10px;}
.ryxgtd .mainCon .box1 .boxL .con a{display: block;width: 173px;height: 44px;margin-left: 94px;margin-top: 25px;}
.ryxgtd .mainCon .box1 .boxR{float: right;width: 340px;}
.ryxgtd .mainCon .box1 .boxR h3{font-size: 26px;color: #fbcf9b;margin-bottom: 20px;font-weight: normal;}
.ryxgtd .mainCon .box1 .boxR ul{border-top: 1px solid #fbcf9b;padding-top: 17px; position:absolute;}
.ryxgtd .mainCon .box1 .boxR li{height: 65px;padding-top: 22px;border-top: 1px dotted #3e6b74;}
.ryxgtd .mainCon .box1 .boxR li dt{width: 100px;float: left;font-size: 14px;color: #fff;line-height: 26px;}
.ryxgtd .mainCon .box1 .boxR li dd{float: left;width: 230px;}
.ryxgtd .mainCon .box1 .boxR li dd p{font-size: 14px;color: #fff;line-height: 26px;}
.ryxgtd .mainCon .box1 .boxR li:first-child{border-top: none;}
.ryxgtd .mainCon .box2{width: 100%;margin-top: 66px;}
.ryxgtd .mainCon .box2 li{width: 399px;float: left;text-align: center;}
.ryxgtd .mainCon .box2 li h3{font-size: 24px;color: #333;font-weight: normal;margin: 30px 0 20px 0;}
.ryxgtd .mainCon .box2 li img{display: block;margin: 0 auto;}
.ryxgtd .mainCon .box2 li p{font-size: 14px;color: #666666;line-height: 24px;padding: 0 64px;}

.ryxgshjs .InpageTitle i {background: #08297a;}
.ryxgshjs .mainCon i:hover {background: #0e2462;}

.ryxg {background: url(../Images/ryxg_xfc.png) no-repeat center;height: 266px;padding-top: 150px;}
.ryxg li {background: url(../Images/ryxgan01.png) no-repeat center;margin-top: 6px;}
.ryxg li a {color: #fff;}
.ryxg li:hover {background: url(../Images/ryxgan02.png) no-repeat center;}

.width_big2{ width:239px!important;}